<!DOCTYPE html>
{% extends 'base.html' %}
{% block main %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>サンプル</title>
    <link rel="stylesheet" href="/static/css/grid.css">
</head>
<script type="text/javascript"></script>

<body>
    <div id="header">
        <h2>テスト</h2>
    </div>
    <div class="container">
        <div class="item">
            <table id='grid' class="main_grid">
            </table>
        </div>
        <div class="item">
            <div class="layer js-modal">
                <div class="modal">
                  <div class="modal__inner">
                    <div class="modal__button-wrap">
                      <button class="close-button js-close-button">
                        <span></span>
                        <span></span>
                      </button>
                    </div>
                    <div class="modal__contents">
                      <div class="modal__content">
                        コンテンツが入ります。コンテンツが入ります。コンテンツが入ります。コンテンツが入ります。コンテンツが入ります。コンテンツが入ります。
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <button class="button js-modal-button">モーダルボタン</button>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/js/grid.js"></script>
</html>
{% endblock %}