<!DOCTYPE html>
{% extends 'base.html' %}
{% block main %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>サンプル</title>
    <link rel="stylesheet" href="/static/css/grid.css">
</head>
<script type="text/javascript"></script>

<body>
    <div id="header">
        <h2>テスト</h2>
    </div>
    <div class="left">
        <div>
            <table id='grid' class="main_grid">
            </table>
        </div>
    </div>
    <div class="right">
        <div class="detail">
            <!--
            <form action="{{ url_for('post_grid') }}" method="POST">
              <button type="submit" value="register">登録</button>　
            </form>
            -->
            <button onclick=post()>登録</button>
        </div>
   </form>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/js/grid.js"></script>
</html>
{% endblock %}