<!DOCTYPE html>
{% extends 'base.html' %}
{% block main %}
<html lang="en">
  <head>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet"/>
     <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body>
    <ul class="sample1">
      <li>
        <a href="{{ url_for('headers')}}">ヘッダ</a>
      </li>
      <li>
        <a href="{{ url_for('flow')}}">フロー</a>
      </li>
      <li>
        <a href="{{ url_for('button')}}">ボタン</a>
      </li>
      <li>
        <a href="{{ url_for('radiobtn')}}">rラジオボタン</a>
      </li>
      <li>
        <a href="{{ url_for('get_grid')}}">グリッド</a>
      </li>
      <li>
        <a href="{{ url_for('modal')}}">モーダルウィンドウ</a>
      </li>
      <li>
        <a href="{{ url_for('get_list')}}">リスト</a>
      </li>
      <li>
        <a href="{{ url_for('get_chat')}}">チャット</a>
      </li>
      <li>
        <a href="{{ url_for('draganddrop')}}">ドラッグアンドドロップ</a>
      </li>
      <li>
        <a href="{{ url_for('table2')}}">テーブル2</a>
      </li>
      <li>
        <a href="{{ url_for('table3')}}">テーブル3</a>
      </li>
      <li>
        <a href="{{ url_for('combobox')}}">コンボボックス</a>
      </li>
      <li>
        <a href="{{ url_for('table_form')}}">テーブルフォーム</a>
      </li>
    </ul>
  </body>
  <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
</html>
{% endblock %}