{% extends 'base.html' %}
{% block main %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/radiobtn.css">
</head>
<body>
<form>
  <group class="inline-radio">
    <div><input type="radio" name="title"><label>Mr</label></div>
    <div><input type="radio" name="title" checked><label>Miss</label></div>
    <div><input type="radio" name="title"><label>Mrs</label></div>
    <div><input type="radio" name="title"><label>Ms</label></div>
    <div><input type="radio" name="title"><label>Dr</label></div>
  </group>
  </form>
</body>
</html>
{% endblock %}